/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: hidden;
    background-color: hsl(217, 54%, 11%);
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
    /* border: 1px solid rgb(169, 236, 169); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* main */

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 40rem;
    width: 23.5rem;
    position: static;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    color: white;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 34px;
}

.eth-info {
    width: inherit;
    height: 16.5rem;
    padding: 0 1.7rem;
}

.card h1 {
    display: inline;
    font-size: 23px;
}

.card p {
    width: fit-content;
    font-size: larger;
    margin-top: .7rem;
    height: auto;
    position: inherit;
    color: hsl(216, 28.6%, 55.5%)
}

